@import "lesshat";

body {
  padding: 1em;
}

.bx-wrapper {
  width: 100%;
  border: 10px solid white;
  .box-sizing(border-box);
  .box-shadow(1px 1px 3px rgba(0, 0, 0, 0.4));
  
  .bx-viewport { height: 189px !important; }
  
  li {
    margin-top: -16px !important;
  }
}